<section class="section main-section">
    <div class="container">
        <div class="row custom-row">
            <div class="col m12 s12">
                <div class="content grey lighten-5 z-depth-4">
                    <div class="row">
                        <aside class="col m4 s12">

                        </aside>
                        <div class="col m8 s12">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>