<nav class="indigo custom-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="sidenav" class="sidenav-trigger left show-on-large custom-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<ul id="sidenav" class="side-nav">
    <li><a href="/" >Начало</a></li>
    <li><a href="#/category/physics">Физика</a></li>
    <li><a href="#/category/chemistry">Химия</a></li>
    <li><a href="#/category/medicine">Физиология и медицина</a></li>
    <li><a href="#/category/peace">Мир</a></li>
    <li><a href="#/category/literature">Литература</a></li>
</ul>
