<nav class="indigo custom-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="sidenav" class="sidenav-trigger left show-on-large custom-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<ul id="sidenav" class="side-nav">
    <li><a href="/">Начало</a></li>
    <li><a href="/">Физика</a></li>
    <li><a href="/">Химия</a></li>
    <li><a href="/">Физиология и медицина</a></li>
    <li><a href="/">Мир</a></li>
    <li><a href="/">Литература</a></li>
</ul>
