<section class="section main-section">
    <div class="container">
        <div class="row custom-row">
            <div class="col m12 s12">
                <div class="content grey lighten-5 z-depth-4">
                    <div class="row">
                        <div class="col m4 s12">
                            <img src="/client/img/Nobel.jpg" alt="Alfred Nobel" class="responsive-img circle custom-img">
                            <h5 class="blue-text text-darken-4 center">Алфред Нобел</h5>
                            <h6 class="grey-text text-darken-2 center">Химик, инженер и предприемач</h6>
                            <div class="card blue-grey z-depth-4 custom-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Биография</span>
                                    <p>Алфред Бернхард Нобел е роден на 21 октомври 1833 в Стокхолм, Швеция. Той е третият син на Имануел Нобел - шведски изобретател и инженер...</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                            <h6 class="grey-text text-darken-2 center">Постижения</h6>
                        </div>
                        <div class="col m8 s12">
                            <h1><i class="material-icons orange-text">attach_money</i> Нобеловите награди</h1>
                            <h5 class="custom-title"><i class="material-icons orange-text">forward</i> В началото</h5>
                            <p class="custom-paragraph">Нобеловите награди започват да се раздават в съответствие със завещанието на <a href="#">Алфред Нобел</a>, което той подписва на 27 ноември 1895 година. Последната воля на предприемача е богатството му да бъде използвано за създаването на няколко награди за онези, които допринасят най-много за добруването на човечеството с постижения в областта на физиката, химията, физиологията или медицината, литературата и мира.</p>
                            <h5 class="custom-title"><i class="material-icons orange-text">forward</i> Вековна история</h5>
                            <p class="custom-paragraph">Първите Нобелови награди са връчени през 1901. Наградени са физикът <a href="#">Вилхелм Конрад Рьонтген</a>, който получава Нобелова награда за физика, химикът <a href="#">Якоб Хендрих Вант Хоф</a> (Нобелова награда за химия), физиологът <a href="#">Емил Адолф фон Беринг</a> (Нобелова награда за физиология или медицина), предприемачът <a href="#">Жан Анри Дюнан</a> и икономистът <a href="#">Фредерик Паси</a> (Нобелова награда за мир) и поетът <a href="#">Рене Франсоа Арман Прюдом</a> (Нобелова награда за литература)</p>
                            <h5 class="custom-title"><i class="material-icons orange-text">forward</i> Ако си любопитен</h5>
                            <button class="btn orange waves-effect waves-light custom-btn">Кликни ме</button>
                            <h5 class="custom-title"><i class="material-icons orange-text">forward</i> Категории</h5>
                            <div class="card grey darken-3 z-depth-4 custom-category-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Физика</span>
                                    <p class="grey-text text-lighten-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae sit modi autem commodi consectetur sequi dignissimos illo magni quas?</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                            <div class="card grey darken-3 z-depth-4 custom-category-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Химия</span>
                                    <p class="grey-text text-lighten-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae sit modi autem commodi consectetur sequi dignissimos illo magni quas?</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                            <div class="card grey darken-3 z-depth-4 custom-category-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Физиология и медицина</span>
                                    <p class="grey-text text-lighten-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae sit modi autem commodi consectetur sequi dignissimos illo magni quas?</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                            <div class="card grey darken-3 z-depth-4 custom-category-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Мир</span>
                                    <p class="grey-text text-lighten-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae sit modi autem commodi consectetur sequi dignissimos illo magni quas?</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                            <div class="card grey darken-3 z-depth-4 custom-category-card">
                                <div class="card-content">
                                    <span class="card-title center white-text">Литература</span>
                                    <p class="grey-text text-lighten-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae sit modi autem commodi consectetur sequi dignissimos illo magni quas?</p>
                                </div>
                                <div class="card-action center">
                                    <a href="#">Научи повече</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fixed-action-btn">
    <a id="menu" class="orange waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>
</div>
<div class="tap-target-wrapper">
    <div class="tap-target orange" data-activates="menu">
        <div class="tap-target-content white-text">
            <h5>Знаеш ли че...</h5>
            <p>В завещанието си Алфред Нобел изрично настоява, че националността на кандидатите за Нобелова награда не бива да играе никаква роля в избора им - наградата трябва да се дава на най-заслужилия.</p>
        </div>
    </div>
    <div class="tap-target-wave">
        <a class="btn btn-floating large red tap-target-origin">
            <i class="material-icons">close</i>
        </a>
    </div>
</div>